.App {
  background-image: linear-gradient(to top, yellow 0%, lightyellow 100%);
  max-width: 550px;
  padding: 25px 20px;
  margin: 20px auto;
  border-radius: 15px;
  border: 15px double white;
}

footer {
  text-align: center;
}
